@font-face {
  font-family: "iconfont"; /* Project id 3922397 */
  src: url('iconfont.woff2?t=1677579296921') format('woff2'),
       url('iconfont.woff?t=1677579296921') format('woff'),
       url('iconfont.ttf?t=1677579296921') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-closesidebar:before {
  content: "\e622";
}

.icon-opensidebar:before {
  content: "\e624";
}

.icon-teacher:before {
  content: "\e722";
}

.icon-admin:before {
  content: "\e600";
}

.icon-home:before {
  content: "\e639";
}

.icon-student:before {
  content: "\e627";
}

