.el-menu {
  border-right: 0 !important;
}
.el-menu-item-group__title {
  display: none;
}
.el-main {
  --el-main-padding: 0;
}
.el-table {
  background-color: var(--el-bg-color) !important;
}
@import "theme/theme-light";
.home-msg {
  color: $--text-color-1;
}
.dark {
  @import "theme/theme-dark";
  .home-msg {
    color: $--text-color-1;
  }
}
